/* #region debug */
.debug .site_header {
    background-color: black;
    border: 2px solid orange;
}

.debug .header_logo {
    height: 20px;
    width: 50px;
    background-color: white;
}

.debug .header_nav {
    height: 20px;
    width: 300px;
    background-color: grey;
}

.debug .site_main {
    height: 100%;
    background: #ededed;
    border: 1px solid black;
}

.debug section {
    border: 3px solid black;
    margin: 2px 0;
    padding: 1rem;
}

.debug [class^="col-"] {
    height: 200px;
    border: 1px dotted red;
}

.debug .radius_container_6,
.debug .radius_container_10 {
    height: 100%;
    width: 100%;
    border: 1px dashed green;
    background: yellow;
}

.debug .site_footer {
    height: 200px;
    background-color: var(--responsive-lightblack);
    border: 2px dotted white;
}

.debug .testimonial_photo {
    background-color: red;
}

/* #endregion debug */

/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --responsive-blue: #0084fd;
    --responsive-lightblue: #b5ddff;
    --responsive-white: #ffffff;
    --responsive-violet_bg: #9792e4;
    --responsive-gold: #fdc15f;
    --responsive-lightblack: #333333;
    --responsive-violet_phrases: #8682c6;
    --responsive-light_grey: #657b8e;
}

ul {
    list-style: none;
    & a {
        text-decoration: none;
        color: black;
    }
}

img {
    width: 100%;
}

/* #endregion Common */

/* #region layout */
.container {
    max-width: 1152px;
    width: 85%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"] {
    padding: 1rem;
    margin: 0.3rem;
}

.col-12 {
    width: 100%;
}

.radius_container_10 {
    border-radius: 10px;
}

.radius_container_20 {
    border-radius: 20px;
}

.btn {
    border: 1px solid;
    border-radius: 1rem;
    padding: 0 0.3rem;
    font-family: none;
    background-color: transparent;
    border: none;
}

/* #endregion layout */

/* #region utility */
.d-flex {
    display: flex;
}

.m-auto {
    margin: auto;
}

.p-relative {
    position: relative;
}

.space-between {
    justify-content: space-between;
}

.text-align-center {
    text-align: center;
}

.p-4 {
    padding: 1rem;
}

.p-x-6 {
    padding: 0 1.5rem;
}

.p-6-top {
    padding-top: 1.5rem;
}

.p-4-bottom {
    padding-bottom: 1rem;
}

.p-6-bottom {
    padding-bottom: 1.5rem;
}

.p-12 {
    padding: 3rem;
}

.p-y-4 {
    padding: 1rem 0;
}

.p-y-12 {
    padding: 3rem 0;
}

.p-top-16 {
    padding-top: 4rem;
}
/* #endregion utility */

/* #region header */
.site_header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: var(--responsive-blue);
}

.site_header .container {
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

.header_nav ul,
.header_nav button {
    gap: 0.5rem;
    font-size: 0.6rem;
}

.header_nav a,
.menu_header {
    color: var(--responsive-white);
}

.header_nav .btn {
    background-color: var(--responsive-white);
    border-color: var(--responsive-white);
    cursor: pointer;
    font-weight: medium;
}

.header_nav {
    display: none;
}

/* #endregion header */

/* #region main */
.site_main {
    padding-top: 80px;
}

.planning,
.benefits,
.its_free,
.testimonial_card {
    background-color: var(--responsive-violet_bg);
}

/* Get Demo Section */
.get_demo [class^="col-"] {
    background-color: var(--responsive-lightblue);
    border-radius: 10px;
}

.get_demo .apple_app {
    padding-right: 1rem;
}

.get_demo h4 {
    color: var(--responsive-blue);
}

.get_demo p {
    color: var(--responsive-light_grey);
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.7rem 0;
    line-height: 1rem;
}

.get_demo .btn {
    margin: 1rem 0;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    background-color: var(--responsive-blue);
    border: var(--responsive-blue);
    color: var(--responsive-white);
}

.get_demo .col-8-lg{
    display: block;
}

.get_demo .phone {
    margin-bottom: -1rem;
    max-height: 300px;
    min-width: 170px;
    width: 70%;
}

.get_demo .col-4-lg i {
    color: var(--responsive-blue);
    padding-bottom: 0.8rem;
    font-size: 2rem;
}

/* Strategic Planning Section */

.strategic_planning {
    color: var(--responsive-white);
    padding: 3rem 1rem 3rem 1rem;
}

.planning .app_development {
    align-items: end;
}

.planning .radius_container_20 {
    background-color: var(--responsive-white);
}

.planning .arrow_down {
    background-color: var(--responsive-violet_bg);
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    margin: 2rem auto 0 auto;
}

/* Testimonials Section */

.testimonials h2 {
    color: var(--responsive-violet_bg);
}


.testimonial_card {
    border-radius: 30px;
    padding: 2rem;
    justify-content: center;
    color: var(--responsive-white);
    margin-bottom: 1.5rem;
}

.testimonial_photo {
    width: 150px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
}

.testimonial_photo img {
    border-radius: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.biography p {
    line-height: 1.5rem;
    letter-spacing: 1px;
}

.biography h4 {
    padding-top: 1.5rem;
}

/* Benefits Section */
.radius_container_10 {
    background-color: var(--responsive-white);
}

.benefits h3 {
    color: var(--responsive-white);
}

.benefits h2,
.benefits h5 {
    color: var(--responsive-violet_bg);
}

.benefits h2 {
    font-size: 3rem;
}

.benefits h5 {
    font-size: 1.2rem;
}


.benefits p {
    line-height: 1.5rem;
    color: var(--responsive-light_grey);
}

.benefits .btn {
    background-color: var(--responsive-violet_bg);
    color: var(--responsive-white);
    letter-spacing: 1px;
    padding: 0.5rem 2.5rem;
}

/* #endregion main */

/* #region footer */
.site_footer{
    background-color: var(--responsive-lightblack);
}

/* #endregion footer */


/* #region RESPONSIVE */
@media screen and (min-width: 480px) {
    .container{
        width: 90%;
    }
    
    .col-4-lg {
        width: calc((100% / 12 * 4) - 0.6rem);
    }
    
    .col-8-lg {
        width: calc((100% / 12 * 8) - 0.6rem);
    }

    .col-3-md{
        width: calc((100% / 12 * 3) - 0.6rem);
    } 
    
    .col-6-md{
        width: calc((100% / 12 * 6) - 0.6rem);
    } 
    
    .col-9-md{
        width: calc((100% / 12 * 9) - 0.6rem);
    } 
}

@media screen and (min-width: 768px) {
    .container{
        width: 80%;
    }

    .col-3-lg {
        width: calc((100% / 12 * 3) - 0.6rem);
    }
    
    .col-4-lg {
        width: calc((100% / 12 * 4) - 0.6rem);
    }
    
    .col-6-lg {
        width: calc((100% / 12 * 6) - 0.6rem);
    }
    
    .col-8-lg {
        width: calc((100% / 12 * 8) - 0.6rem);
    }
    
    .col-9-lg {
        width: calc((100% / 12 * 9) - 0.6rem);
    }   

    .header_nav{
        display: flex;
    }

    .menu_header{
        display: none;
    }

    .get_demo .col-8-lg{
        display: flex;
    }
}
/* #endregion RESPONSIVE */