/* #region debug */
.debug .site_header {
    background-color: black;
    border: 2px solid orange;
}

.debug .header_logo {
    height: 20px;
    width: 50px;
    background-color: white;
}

.debug .header_nav {
    height: 20px;
    width: 300px;
    background-color: grey;
}

.debug .site_main {
    height: 100%;
    background: #ededed;
    border: 1px solid black;
}

.debug section {
    border: 3px solid black;
    margin: 2px 0;
    padding: 1rem;
}

.debug [class^="col-"] {
    height: 200px;
    border: 1px dotted red;
}

.debug .radius_container_6,
.debug .radius_container_10 {
    height: 100%;
    width: 100%;
    border: 1px dashed green;
    background: yellow;
}

.debug .site_footer {
    height: 200px;
    background-color: var(--responsive-lightblack);
    border: 2px dotted white;
}

/* #endregion debug */

/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --responsive-blue: #0084fd;
    --responsive-lightblue: #b5ddff;
    --responsive-white: #ffffff;
    --responsive-violet_bg: #9792e4;
    --responsive-gold: #fdc15f;
    --responsive-lightblack: #333333;
    --responsive-violet_phrases: #8682c6;
    --responsive-light_grey: #657b8e;
}

ul {
    list-style: none;
    & a {
        text-decoration: none;
        color: black;
    }
}

button {
    background-color: transparent;
    border: none;
}

img {
    width: 100%;
}

/* #endregion Common */

/* #region layout */
.container {
    max-width: 1152px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"] {
    padding: 0 1rem;
    margin: 0.2rem;
}

.col-3 {
    width: calc((100% / 12 * 3) - 0.4rem);
}

.col-4 {
    width: calc((100% / 12 * 4) - 0.4rem);
}

.col-5 {
    width: calc((100% / 12 * 5) - 0.4rem);
}

.col-6 {
    width: calc((100% / 12 * 6) - 0.4rem);
}

.col-7 {
    width: calc((100% / 12 * 7) - 0.4rem);
}

.col-8 {
    width: calc((100% / 12 * 8) - 0.4rem);
}

.col-9 {
    width: calc((100% / 12 * 9) - 0.4rem);
}

.col-12 {
    width: 100%;
}

.radius_container_6 {
    border-radius: 6px;
}

.radius_container_10 {
    border-radius: 10px;
}

.btn {
    border: 1px solid;
    border-radius: 1rem;
    padding: 0 0.3rem;
    font-family: none;
}

/* #endregion layout */

/* #region utility */
.d-flex {
    display: flex;
}

.m-auto {
    margin: auto;
}

.p-relative {
    position: relative;
}
/* #endregion utility */

/* #region header */
.site_header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: var(--responsive-blue);
}

.site_header .container {
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

.header_nav ul,
.header_nav button {
    gap: 0.5rem;
    font-size: 0.6rem;
}

.header_nav a {
    color: var(--responsive-white);
}

.header_nav .btn {
    background-color: var(--responsive-white);
    border-color: var(--responsive-white);
    cursor: pointer;
    font-weight: medium;
}

/* #endregion header */

.site_main {
    padding-top: 80px;
}

.get_demo [class^="col-"] {
    background-color: var(--responsive-lightblue);
    border-radius: 10px;
}

.get_demo h6 {
    color: var(--responsive-blue);
}

.get_demo p {
    color: var(--responsive-light_grey);
    font-size: 0.5rem;
    font-weight: 500;
    padding: 0.7rem 0;
}

.get_demo .btn {
    padding: 0.2rem 1rem;
    font-size: 0.5rem;
    background-color: var(--responsive-blue);
    border: var(--responsive-blue);
    color: var(--responsive-white);
}

.get_demo .col-4 {
    text-align: center;
}

.get_demo .col-4 i {
    color: var(--responsive-blue);
    padding-bottom: 0.8rem;
    font-size: 2rem;
}

.its_free, 
.site_footer,
.benefits .col-12, 
.testimonials {
    text-align: center;
}

/* #region RESPONSIVE */
@media screen and (max-width: 480px) {
    [class^="col-"]{
        width: 100%;
    }

    .get_demo .col-8{
        display: block;
    }

}
/* #endregion RESPONSIVE */