/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion Common */

/* #region layout */
.container {
    max-width: 1152px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"] {
    padding: 0 1rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

/* #endregion layout */

/* #region utility */
.d-flex {
    display: flex;
}

.m-auto {
    margin: auto;
}
/* #endregion utility */

/* #region header */
.site_header {
    height: 50px;
    position: fixed;
    width: 100%;
}

.site_header .container {
    justify-content: space-between;
    padding: 0.5rem;
}

/* #endregion header */

.site_main {
    padding-top: 80px;
}

/* #region debug */
.debug .site_header {
    background-color: black;
    border: 2px solid orange;
}

.debug .header_logo {
    height: 20px;
    width: 50px;
    background-color: white;
}

.debug .header_nav {
    height: 20px;
    width: 300px;
    background-color: grey;
}

.debug .site_main {
    height: 500px;
    background: #ededed;
    border: 1px solid black;
}

.debug [class^="col-"] {
    height: 70px;
    background: white;
    border: 1px dotted red;
}
/* #endregion debug */